body {
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    background: whitesmoke;
    width: 80%;
    max-width: 1000px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
}

.container .Heading {
    width: 100%;
    background-color: whitesmoke;
    color: #081b29;
    margin-top: 10px;
    position: relative;
    text-align: center;
    border-bottom: 2px solid #081b29;
    font-size: 1.8vw; /* Responsive font size */
}


.container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .Left {
    width: 30%;
    height: 1000px;
    background-color: #081b29;
}

.container .Right {
    width: 70%;
    height: 1000px;
    background-color: whitesmoke;
}

.circular--portrait {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #081b29;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.synopsis {
    font-size: 1.2vw; /* Responsive font size */
    font-weight: bold;
    padding-top: 1.5vw; /* Responsive padding */
    padding-left: 2vw; /* Responsive padding */
    color: #fff;
}

.Profile p {
    width: 15vw; /* Responsive width */
    word-wrap: normal;
    font-size: 1.2vw; /* Responsive font size */
    color: #fff;
    padding-left: 2vw; /* Responsive padding */
    padding-top: -3vw; /* Responsive padding */
}

ul {
    position: relative;
    padding-left: 1vw; /* Responsive padding */
}

ul li {
    list-style: none;
    padding-left: -2vw; /* Responsive padding */
    padding-top: -3vw; /* Responsive padding */
    cursor: pointer;
    margin: 1vw 0; /* Responsive margin */
}

ul li .icon {
    display: inline;
    width: 3vw; /* Responsive width */
    font-size: 1vw; /* Responsive font size */
    color: #fff;
    margin-left: 1vw; /* Responsive margin */
}

.container ul span {
    color: #fff;
    width: 3vw; /* Responsive width */
    font-size: 1.2vw; /* Responsive font size */
    left: 0;
    padding-left: -1vw; /* Responsive padding */
}

.text {
    padding: 0.5vw; /* Responsive padding */
    width: 20vw; /* Responsive width */
    word-wrap: normal;
}

.subheading {
    color: #fff;
    width: 3vw; /* Responsive width */
    font-size: 1.2vw; /* Responsive font size */
    font-weight: bold;
    left: 0;
    padding-left: 1vw; /* Responsive padding */
}

.container .Right .rightsynopsis {
    font-size: 1.5vw; /* Responsive font size */
    font-weight: bold;
    color: #081b29;
    margin-left: 0.5vw; /* Responsive margin */
}

.container .Right .rightsynopsis i {
    width: 3vw; /* Responsive width */
    font-size: 1.5vw; /* Responsive font size */
    color: #081b29;
    margin-left: 0.5vw; /* Responsive margin */
    margin-top: 1vw; /* Responsive margin */
}

.Right ul span {
    color: #081b29;
    width: 3vw; /* Responsive width */
    font-size: 1.2vw; /* Responsive font size */
    left: 0;
    padding-left: -1vw; /* Responsive padding */
}

.textr {
    padding: 0.5vw; /* Responsive padding */
    width: 20vw; /* Responsive width */
    word-wrap: normal;
}

.Intrest .iconi {
    width: 2vw; /* Responsive width */
}

.Project p {
    color: #081b29;
    width: 40vw; /* Responsive width */
    word-wrap: normal;
    font-size: 1.2vw; /* Responsive font size */
    padding-left: 2vw; /* Responsive padding */
    padding-top: -3vw; /* Responsive padding */
}

.Project h1 {
    color: #081b29;
    font-size: 1.4vw; /* Responsive font size */
    font-weight: bold;
    margin-left: 15vw; /* Responsive margin */
}

@media only screen and (max-width: 912px) {
    .container .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .container .Left,
    .container .Right {
        width: 90%; /* Adjust width for smaller screens */
        flex-direction: column;

    }
    
    .container .Left {
        order: 1; /* Change the order of left section to appear before right section */
        margin-bottom: 20px; /* Add margin at the bottom */
    }
    
    .container .Right {
        order: 2; /* Change the order of right section to appear after left section */
        
    }
}
